<% include header %>
<link rel="stylesheet" href="/books.css"/>
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>

<% include navbar %>

<!--Az egészet egy card-ba lehetne rakni-->
<div class="container">
    <div class="card">
        <div class="table-responsive-md">
            <table class="table table-striped">
                <caption>
                    Könyvek listája
                </caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cím</th>
                    <th scope="col">Szerző</th>
                    <th scope="col">Könyv megtekintése</th>
                    <th scope="col">Kölcsönözhető</th>
                </tr>
                </thead>

                <tbody>
                <%
                var i = 1;
                data.books.forEach(function (book) {
                    if((typeof book.rentedBy === "undefined" || book.rentedBy === null) && userid !== book.owner) {%>
                        <tr>
                            <th scope="row"><%= i++ %></th>
                            <td><%= book.title %></td>
                            <td><%= book.author %></td>
                            <td>
                                <a href="/books/view/<%= book._id %>" class="back">megtekintés</a>
                            </td>
                            <td>
                                <a href="/books/rent/<%= book._id %>" class="back">kikölcsönzöm</a>
                            </td>
                        </tr>
                <% } }); %>

                </tbody>
            </table>
        </div>
<% include footer %>