<% include header %>
<link rel="stylesheet" href="/books.css"/>
<link
        href="https://fonts.googleapis.com/css?family=Poppins"
        rel="stylesheet"
/>
</head>

<% include navbar %>

<!--Az egészet egy card-ba lehetne rakni-->
<div class="container">
    <div class="card-body" style="height: 40px">
        <a class="new" href="/books/newbook">Új könyv hozzáadása</a>
    </div>
    <div class="card">
        <div class="table-responsive-md">
            <table class="table table-striped">
                <caption>
                    Saját könyveid
                </caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cím</th>
                    <th scope="col">Szerző</th>
                    <th scope="col">Megtekintés</th>
                    <th scope="col">Módosítás</th>
                    <th scope="col">Törlés</th>
                </tr>
                </thead>
                <tbody>
                <% data.books.forEach(function (book) { %>
                <tr>
                    <th scope="row"><%= book.ind %></th>
                    <td><%= book.title %></td>
                    <td><%= book.author %></td>
                    <td>
                        <a href="/books/view/<%= book._id %>" class="back">megtekintés</a>
                    </td>
                    <td>
                        <a href="/mybooks/mod/<%= book._id %>" class="back">módosítás</a>
                    </td>
                    <td>
                        <a href="/mybooks/del/<%= book._id %>" class="back">törlés</a>
                    </td>
                </tr>
                <% }); %>

                </tbody>
            </table>
        </div>
<% include footer %>